eventManagement/organizer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.eventmanagement.org/event"
	xmlns:tns="http://www.eventmanagement.org/event"
	xmlns:common="http://www.eventmanagement.org/common"
	elementFormDefault="qualified">

	<import schemaLocation="common.xsd"
		namespace="http://www.eventmanagement.org/common"></import>

	<complexType name="organizer">
		<sequence>
			<element name="name" type="common:stringMax25" />
			<element name="email" type="common:email" />
			<element name="phone" type="common:phone" />
		</sequence>
		<attribute name="id" type="common:id" use="required"></attribute>
	</complexType>
</schema>